@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap");

body {
  font-family: "Cairo", sans-serif;
  background-color: #e8d6cb;
}

.Container {
  text-align: center;
}
.Librairie {
  text-align: center;
}

.BookGrid {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.Book {
  border-style: solid;
  border-width: 0, 5rem;
  border-radius: 10px;
  border-color: #5d2e46;
  width: 300px;
  text-align: center;
  margin: 5px;
}

.BookDescription {
  padding: 10px;
  margin: 5px;
}

.Button {
  background-color: #023047;
  border: none;
  color: #ffcdb2;
  padding: 15px 32px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
